@media (max-width: 768px) {
    .cell-1, .cell-3 {
        border: 0;
    }
    .cell-1, .cell-2 {
        border-bottom: 1px solid orange;
        padding-bottom: 1.5rem;
        margin-bottom: 3rem;
    }
    .grid {
        display: flex;
        flex-direction: column;
    }
    .goals {
        order: 1;
    }
    .scopes {
        order: 2;
    }
    .team {
        order: 3;
    }
    .primary {
        order: 4;
    }
    .timeline {
        order: 5;
    }
    #charter .w-20 {
        width: 100%;
        margin-right: 0;
    }
}
